{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


    
{% block fos_user_content %}   
    <section id="content">
        <div class="feature-box fbox-center fbox-effect" style="margin-top: 100px">
            <div class="fbox-icon">
                <i class="icon-mail i-alt"></i>
            </div>        
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
            <p> Para volver a la página principal pulse <a href="{{ path('home') }}">aquí</a> </p>
        </div>    
    </section>
{% endblock fos_user_content %}
  